@charset "UTF-8";
div.countdownProduct {
  margin-bottom: 0; }
  div.countdownProduct .title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../../../../assets/img/icon/bg-title-tab.png");
    width: 46px;
    height: 7px; }

.sp-countdown-sliders .slick-list {
  overflow: visible; }
.sp-countdown-sliders .product-detail-adv .pds-description {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  border-bottom: 1px solid #2d2d2d;
  padding-bottom: 30px;
  font-weight: 400;
  opacity: .7;
  margin-bottom: 42px; }
.sp-countdown-sliders .product-detail-adv .title-time {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  opacity: .7; }
  .sp-countdown-sliders .product-detail-adv .title-time .icon-time {
    background-image: url("../../../../assets/img/icon/icon-countdown-tab.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    float: left;
    margin-top: -3px;
    margin-right: 4px; }
.sp-countdown-sliders .product-detail-adv .item-time .item-timer {
  float: left;
  width: 100%;
  display: inline-block;
  padding: 20px 0; }
.sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item {
  float: left;
  margin-right: 18px;
  margin-bottom: 5px;
  background-color: #343434;
  border-radius: 8px;
  height: 90px;
  text-align: center; }
  .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item:last-of-type {
    margin-right: 0; }
.sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item .num-time {
  border-radius: 8px;
  padding: 17px 0px;
  width: 54px;
  height: 54px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 22px; }
.sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item .name-time {
  color: #fff;
  padding-top: 9px;
  font-size: 12px;
  font-weight: 300; }
.sp-countdown-sliders .product-content-slider .product-item-bg {
  background: #fff;
  border-radius: 8px;
  overflow: hidden; }
.sp-countdown-sliders .product-content-slider .product-thumbnail {
  float: left; }
.sp-countdown-sliders .product-content-slider .pds-content {
  padding: 30px 30px 30px 15px; }
.sp-countdown-sliders .percentage {
  position: absolute;
  top: 0 !important;
  left: 14px;
  background-image: url("../../../../assets/img/icon/bg-coundown-tab-sale.png");
  background-repeat: no-repeat;
  display: block;
  width: 58px;
  height: 58px;
  color: #fff;
  font-size: 13px;
  font-weight: 600; }
  .sp-countdown-sliders .percentage span {
    -ms-transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    display: inline-block;
    padding-top: 12px; }
.sp-countdown-sliders .pds-items-detail .pds-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: capitalize; }
  .sp-countdown-sliders .pds-items-detail .pds-title a {
    color: #222;
    display: block; }
.sp-countdown-sliders .pds-items-detail .pds-products-infor {
  margin-bottom: 10px; }
  .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des {
    width: 100%;
    margin-bottom: 13px;
    overflow: hidden; }
    .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .col {
      float: left; }
    .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .label {
      color: #222;
      padding: 0;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      width: 25%; }
    .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .value {
      width: 75%;
      padding: 0;
      text-align: left;
      font-size: 12px;
      color: #555;
      font-weight: 400; }
.sp-countdown-sliders .item-price {
  margin-bottom: 20px; }
  .sp-countdown-sliders .item-price .price {
    font-size: 22px;
    font-weight: 600; }
  .sp-countdown-sliders .item-price .regular-price {
    font-size: 16px;
    color: #999;
    font-weight: 400;
    margin: 0 5px;
    text-decoration: line-through; }
.sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb {
  position: relative; }
  .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before, .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
    left: -31px;
    top: 75%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #cbcbcb;
    border-width: 11px;
    margin-top: -36px; }
  .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 9px;
    margin-top: -34px; }
	
	.sp-countdown-sliders .add-to-cart-or-refresh{
		display: inline-block;
	}
	
.sp-countdown-sliders .cart-button {
  display: inline-block;
  height: 46px;
  padding: 0 25px;
  border-radius: 25px;
  background: #222;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  line-height: 46px;
  transition: 0.3s all ease 0s;
  position: relative; }
.sp-countdown-sliders .highlighted-informations {
  display: inline-block; }
.sp-countdown-sliders .quick-view {
  width: 46px;
  height: 46px;
  background: #fff;
  color: #7a7a7a;
  border: 1px solid #e0e0e0;
  line-height: 45px;
  font-size: 16px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px; }

div.countdownproduct2 {
  margin-bottom: 0; }
  div.countdownproduct2 .sp-countdown-sliders {
    padding: 0;
    background: #fffffd;
    border: solid 1px #dddddd;
    border-radius: 10px;
    overflow: hidden; }
    div.countdownproduct2 .sp-countdown-sliders .percentage {
      display: none; }
    div.countdownproduct2 .sp-countdown-sliders .thumb-image {
      width: 170px;
      padding: 30px 40px 20px;
      float: left;
      text-align: center; }
      div.countdownproduct2 .sp-countdown-sliders .thumb-image .pds-item {
        width: 100% !important;
        margin-bottom: 10px;
        border: solid 1px #ddd;
        border-radius: 5px;
        overflow: hidden; }
        div.countdownproduct2 .sp-countdown-sliders .thumb-image .pds-item img.products-image-thumb {
          border: none; }
          div.countdownproduct2 .sp-countdown-sliders .thumb-image .pds-item img.products-image-thumb:hover {
            border: none; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items .slick-slide:hover .pds-item-inner .product-content-slider-thumb .products-image-thumb {
      border: none; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before,
    div.countdownproduct2 .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
      display: none; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail {
      width: calc(100% - 170px);
      clear: none; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .pds-item-detail {
      height: auto; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv {
      width: 130px;
      float: left;
      padding: 0 30px;
      border-radius: 0 10px 10px 0; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time {
        overflow: hidden; }
        div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time .item-timer {
          padding: 0; }
        div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time .time-item {
          padding: 35px 0 28px;
          position: relative;
          margin: 0;
          background: transparent;
          border-radius: 0;
          width: 100%;
          height: auto; }
          div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time .time-item:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            opacity: 0.3;
            height: 1px; }
          div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time .time-item.time-sec:after {
            display: none; }
          div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time .time-item .num-time {
            border: none;
            padding: 0;
            border-radius: 0;
            height: auto;
            width: auto;
            font-size: 34px;
            font-weight: 600; }
          div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .item-time .time-item .name-time {
            font-size: 14px;
            font-weight: 500;
            padding: 10px 0 0; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .pds-title {
      padding-bottom: 15px; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .pds-title a {
        font-size: 24px;
        font-weight: 600; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .comments_note {
      margin-bottom: 25px; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .pds-description {
      margin-bottom: 40px;
      line-height: 24px;
      font-size: 13px;
      color: #777; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .item-price {
      margin-bottom: 40px; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .item-price .price {
        font-size: 30px; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .item-price .regular-price {
        font-size: 20px;
        color: #999999; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider {
      width: calc(100% - 130px);
      float: left;
      overflow: hidden; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pb-left-column {
        float: left;
        width: 45%;
        padding: 40px 40px 0; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pds-content {
        float: left;
        width: 55%;
        padding: 50px 40px 0; }

.countdownProduct {
  clear: both; }

.sp-countdown-sliders {
  position: relative; }

.sp-countdown-sliders .pds-items-detail .pds-item-detail,
.sp-countdown-sliders .pds-items .pds-item {
  display: none; }

.sp-countdown-sliders .pds-items-detail .pds-item-detail.active,
.sp-countdown-sliders .pds-items .pds-item.active,
.sp-countdown-sliders .pds-items .pds-item.slick-slide,
.sp-countdown-sliders .pds-items-detail .pds-item-detail.slick-slide {
  display: block; }

.sp-countdown-sliders .pds-items-detail {
  float: left;
  clear: both;
  overflow: hidden; }

.sp-countdown-sliders {
  padding: 30px 0 40px; }

.sp-countdown-sliders .pds-items-detail .pds-item-detail {
  float: left; }

.sp-countdown-sliders .pds-items .pds-item {
  text-align: center;
  width: 100px !important;
  margin-bottom: 40px;
  cursor: pointer; }
  .sp-countdown-sliders .pds-items .pds-item:last-of-type {
    margin-bottom: 0; }

.sp-countdown-sliders .pds-items-detail .product-item .product-item-actions {
  display: inline-block;
  margin: 10px 0; }

.sp-countdown-sliders .product-detail-adv {
  float: left;
  padding-top: 82px; }

.sp-countdown-sliders .product-content-slider {
  display: inline-block;
  float: right; }

.sp-countdown-sliders .product-detail {
  float: left; }

.sp-countdown-sliders .product-detail .table-wrapper {
  border: none; }

.sp-countdown-sliders .product-detail-adv .pds-products-infor {
  min-height: 1px;
  padding: 15px; }

.sp-countdown-sliders .pds-items-detail .pds-item-detail.pds-item-inner-detail:focus {
  outline: none; }

.sp-countdown-sliders .pds-items-detail .pds-item-detail:focus {
  outline: none; }

.slick-slider .slick-track:focus {
  outline: none; }

.slick-list:focus {
  outline: none; }

.slick-vertical .slick-slide:focus {
  outline: none; }

.sp-countdown-sliders .pds-items img.products-image-thumb {
  border: 1px solid #cccccc;
  margin: auto;
  border-radius: 10px; }

.countdownProduct .title {
  font-size: 26px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 15px;
  margin-top: 0;
  display: inline-block;
  top: 85px; }

.sp-countdown-sliders .product-content-slider .pds-products-infor .data {
  padding: 5px 0;
  text-align: left; }

.sp-countdown-sliders .pds-items img.products-image-thumb {
  border: 1px solid #cccccc;
  margin: auto; }

.sp-countdown-sliders .pds-items-detail .product-content-slider .product_img_link {
  float: left; }

.sp-countdown-sliders .pds-items-detail .pds-price .price {
  font-weight: bolder;
  font-size: 25px; }

.sp-countdown-sliders .product-item-actions button.action.primary.tocart {
  background: #FF0000;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 7px 15px;
  vertical-align: middle; }

.sp-countdown-sliders .pds-detail a.btn-show-detail {
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 15px;
  vertical-align: middle;
  box-shadow: none;
  text-decoration: none;
  border-radius: 0; }

/* Arrows */
.sp-countdown-sliders .slick-prev,
.sp-countdown-sliders .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 99;
  box-shadow: none;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none !important;
  outline: none;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; }

.sp-countdown-sliders .slick-prev:hover,
.sp-countdown-sliders .slick-prev:focus,
.sp-countdown-sliders .slick-next:hover,
.sp-countdown-sliders .slick-next:focus {
  color: transparent;
  outline: none;
  background: #000000; }

.sp-countdown-sliders .slick-prev:hover:before,
.sp-countdown-sliders .slick-prev:focus:before,
.sp-countdown-sliders .slick-next:hover:before,
.sp-countdown-sliders .slick-next:focus:before {
  opacity: 1; }

.sp-countdown-sliders .slick-prev.slick-disabled:before,
.sp-countdown-sliders .slick-next.slick-disabled:before {
  opacity: .25; }

.sp-countdown-sliders .slick-prev:before,
.sp-countdown-sliders .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sp-countdown-sliders .slick-prev {
  left: 37%;
  top: -20px; }

.sp-countdown-sliders .slick-next {
  left: 37%;
  top: 107%; }

.sp-countdown-sliders .slick-prev:before {
  color: #fff;
  display: block;
  font-size: 15px;
  height: 20px;
  content: url("../images/icon-up-blue.html"); }

.sp-countdown-sliders .slick-next:before {
  color: #fff;
  display: block;
  font-size: 15px;
  height: 20px;
  content: url("../images/icon-down-blue.html"); }

/* Dots */
.sp-countdown-sliders .slick-dotted.slick-slider {
  margin-bottom: 30px; }

.sp-countdown-sliders .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.sp-countdown-sliders .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.sp-countdown-sliders .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  box-shadow: none !important;
  outline: none;
  background: transparent; }

.sp-countdown-sliders .slick-dots li button:hover,
.sp-countdown-sliders .slick-dots li button:focus {
  outline: none; }

.sp-countdown-sliders .slick-dots li button:hover:before,
.sp-countdown-sliders .slick-dots li button:focus:before {
  opacity: 1; }

.sp-countdown-sliders .slick-dots li button:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: 'ΓÇó';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sp-countdown-sliders .slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

.sp-countdown-sliders .pds-items-detail .table > tbody > tr > th,
.sp-countdown-sliders .pds-items-detail .table > tbody > tr > td {
  border-top: none; }

.sp-countdown-sliders .product-detail .button-container .wishlist {
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; }

.sp-countdown-sliders .item-price .regular-price {
  color: #acaaa6;
  text-decoration: line-through;
  font-size: 0.875rem; }

.sp-countdown-sliders .product-detail .button-container .ajax_add_to_cart_button, .sp-countdown-sliders .product-detail .button-container .lnk_view {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

@media all and (max-width: 767px) {
  .sp-countdown-sliders::after {
    position: relative;
    clear: both;
    content: "";
    display: table; }

  .sp-countdown-sliders .pds-items {
    height: 50px;
    position: absolute;
    width: 100%; }

  .sp-countdown-sliders .pds-items .slick-list {
    display: none; }

  .sp-countdown-sliders .product-detail-adv {
    width: 100%;
    float: left; }

  .sp-countdown-sliders .product-content-slider {
    width: 100%;
    float: left; }

  .sp-countdown-sliders .product-detail {
    width: 100%;
    float: left;
    text-align: center; }

  .sp-countdown-sliders .slick-prev {
    left: 0px;
    top: 50%; }

  .sp-countdown-sliders .slick-next {
    right: 10px;
    top: 50%;
    left: auto; }

  .sp-countdown-sliders .slick-next:before {
    content: url("../images/next.html"); }

  .sp-countdown-sliders .slick-prev:before {
    content: url("../images/pre.html"); }

  .sp-countdown-sliders .product-content-slider {
    float: left;
    width: inherit; }

  .sp-countdown-sliders .thumb-image {
    height: 50px;
    top: 50%;
    position: absolute; } }
@media (min-width: 1200px) {
  .sp-countdown-sliders .product-detail-adv {
    width: 28.1%; }

  .sp-countdown-sliders .product-content-slider {
    width: 71.9%; }
    .sp-countdown-sliders .product-content-slider .pb-left-column {
      width: 53.5%; }
    .sp-countdown-sliders .product-content-slider .pds-content {
      width: 46.5%; }

  .sp-countdown-sliders .pds-items-detail {
    width: 89%; }
  .sp-countdown-sliders .thumb-image {
    width: 11%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .countdownProduct .title {
    font-size: 20px; }

  .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item {
    margin-right: 10px;
    height: 75px; }
    .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item .num-time {
      padding: 10px 0px;
      width: 35px;
      height: 40px;
      font-size: 16px; }
    .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item .name-time {
      padding-top: 10px; }

  .sp-countdown-sliders .pds-items .pds-item {
    margin-bottom: 25px; }

  .sp-countdown-sliders .product-detail-adv .pds-description {
    padding-bottom: 25px;
    margin-bottom: 35px; }

  .sp-countdown-sliders .thumb-image {
    width: 13.5%; }
  .sp-countdown-sliders .pds-items-detail {
    width: 86.5%; }

  .lang-rtl div.sp-countdown-sliders div.product-detail-adv .item-time .item-timer .time-item {
    margin-left: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .countdownProduct .title {
    font-size: 16px; }

  .sp-countdown-sliders .product-detail-adv {
    padding-top: 75px; }

  .sp-countdown-sliders .product-detail-adv .pds-description {
    padding-bottom: 20px;
    margin-bottom: 30px; }

  .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item {
    margin-bottom: 15px;
    margin-right: 10px; }
    .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item.time-hour {
      margin-right: 0; }

  .sp-countdown-sliders .product-content-slider .pds-content {
    padding: 15px;
    text-align: center; }

  .sp-countdown-sliders {
    padding: 40px 0 70px; }

  .sp-countdown-sliders .pds-items .pds-item {
    width: 100% !important; }

  .sp-countdown-sliders .pds-items-detail .pds-products-infor {
    float: none;
    display: block; }
    .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des {
      text-align: center; }
      .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .label {
        text-align: center;
        width: 50%; }
      .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .value {
        text-align: center;
        width: 50%; }
    .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-wrapper {
      margin-bottom: 0; }

  .sp-countdown-sliders .pds-items-detail .item-price {
    float: none; }

  div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pb-left-column {
    width: 100%; }

  div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pds-content {
    width: 100%;
    padding-bottom: 30px; }

  .rtl .sp-countdown-sliders .product-detail-adv .item-time .item-timer .time-item.time-hour {
    margin-left: 0; }
  .rtl .sp-countdown-sliders .pds-items-detail .pds-title {
    text-align: center; }
  .rtl .sp-countdown-sliders .pds-items-detail .comments_note {
    text-align: center;
    float: none; }
  .rtl .sp-countdown-sliders .pds-items-detail .pds-products-infor {
    margin-bottom: 0; }
    .rtl .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .col.value {
      float: none; }
  .rtl .sp-countdown-sliders .pds-items-detail .item-price {
    float: none;
    text-align: center; }
    .rtl .sp-countdown-sliders .pds-items-detail .item-price .price {
      width: 50%;
      text-align: left; }
    .rtl .sp-countdown-sliders .pds-items-detail .item-price .regular-price {
      text-align: right;
      float: left;
      width: 50%; }
  .rtl div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pds-content {
    text-align: center; } }
@media (max-width: 767px) {
  .sp-countdown-sliders .product-detail-adv .item-time .item-timer {
    padding-bottom: 40px; }

  .slick-slide img {
    display: inline-block !important; }

  .sp-countdown-sliders .pds-items-detail .product-content-slider .thumnail {
    float: none;
    display: block;
    text-align: center; }

  .sp-countdown-sliders .pds-items-detail .item-price {
    width: 100%; }

  .sp-countdown-sliders .pds-items-detail .pds-products-infor {
    float: none;
    display: block; }
    .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des {
      text-align: center; }
      .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .label {
        text-align: center;
        width: 50%; }
      .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .value {
        text-align: center;
        width: 50%; }
      .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .table-wrapper {
        margin-bottom: 0; }

  .sp-countdown-sliders .pds-items {
    padding: 30px 88px 0; }
    .sp-countdown-sliders .pds-items .pds-item {
      margin-right: 30px; }
      .sp-countdown-sliders .pds-items .pds-item:last-of-type {
        margin-right: 0; }
    .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before, .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
      left: 37%;
      top: 4%; }
    .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before {
      border-left-color: transparent;
      border-top-color: #cbcbcb;
      margin-top: -34px; }
    .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
      border-left-color: transparent;
      border-top-color: #fff;
      border-width: 10px; }

  div.countdownproduct2 .sp-countdown-sliders .thumb-image {
    width: 100%; }
    div.countdownproduct2 .sp-countdown-sliders .thumb-image .pds-items {
      padding: 0; }
    div.countdownproduct2 .sp-countdown-sliders .thumb-image .pds-item {
      width: 84px !important;
      float: none;
      margin-bottom: 5px;
      margin-right: 10px;
      display: inline-block; }
  div.countdownproduct2 .sp-countdown-sliders .pds-items-detail {
    width: 100%; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider {
      width: 100%; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pb-left-column {
        width: 100%;
        padding: 0 30px; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pds-content {
        width: 100%;
        padding: 0 30px; }
    div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv {
      width: 100%;
      font-size: 0;
      padding: 0 15px; }
      div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .time-item {
        width: 25% !important;
        display: inline-block; }
        div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-detail-adv .time-item:after {
          display: none; }

  .rtl .sp-countdown-sliders .pds-items-detail .pds-title {
    text-align: center; }
  .rtl .sp-countdown-sliders .pds-items-detail .comments_note {
    text-align: center;
    float: none; }
  .rtl .sp-countdown-sliders .pds-items-detail .pds-products-infor {
    margin-bottom: 0; }
    .rtl .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .col.value {
      float: none; }
  .rtl .sp-countdown-sliders .pds-items-detail .content_price {
    float: none;
    text-align: center; }
    .rtl .sp-countdown-sliders .pds-items-detail .content_price .price {
      width: 50%;
      text-align: left; }
    .rtl .sp-countdown-sliders .pds-items-detail .content_price .old-price {
      text-align: right;
      float: left;
      width: 50%; }
  .rtl .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .col {
    text-align: left;
    padding-left: 10px; }
  .rtl .sp-countdown-sliders .pds-items-detail .pds-products-infor .table-des .col.value {
    text-align: right; }
  .rtl .sp-countdown-sliders .product-detail .button-container {
    padding-top: 20px; }
  .rtl .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before, .rtl .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
    right: 40px; }
  .rtl .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:before {
    border-right-color: transparent;
    border-top-color: #cbcbcb; }
  .rtl .sp-countdown-sliders .pds-items .slick-current .pds-item-inner .product-content-slider-thumb:after {
    border-right-color: transparent;
    border-top-color: #fff;
    border-width: 10px; }
  .rtl div.countdownproduct2 .sp-countdown-sliders .pds-items-detail .product-content-slider .pds-content {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
